---
# _layouts/graph-canvas.html
layout: default
---

<!-- Eventuali <head> aggiuntivi specifici per la pagina del grafo -->
    <div id="graphNodeTooltip" class="graph-node-tooltip" style="display: none; opacity: 0;">
      <h4 id="tooltipNodeTitle">Titolo del Nodo</h4>
      <p id="tooltipNodeExcerpt">Qui andrà l'excerpt del nodo...</p>
      <small>Clicca per visitare la pagina.</small>
    </div>

      
    <div id="main-content-area-graph"> 

      <div id="node-content-pane"> 
        <button id="closeContentPaneBtn">×</button>
        <div id="node-content-target">
          <!-- Il contenuto del nodo verrà caricato qui -->
        </div>
      </div>

      <div id="graph-container-wrapper">
        <div id="graph-container" class="graph-container">
          <!-- Il grafo JavaScript verrà renderizzato qui -->
        </div>
        <div id="graphLegend" class="graph-legend" style="display: none;">
          <h4>Legenda</h4>
          <ul>
            <!-- Contenuto generato da JS -->
          </ul>
        </div>
      </div>
    </div>

    <!-- Script JS -->
    <script type="text/javascript" src="https://unpkg.com/vis-network/standalone/umd/vis-network.min.js"></script>
    <script src="{{ '/assets/js/custom-graph-initializer.js' | relative_url }}"></script>
